.App{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.App__container{
    display:flex;
    flex: 0.7;
    flex-direction: column;
    flex-wrap: wrap;
}