.button h4 a:hover, a:active, a:visited, a:link{
    color: #ffffff;
    text-decoration: none;
}

.button{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius:15px;
}


.button:hover{
    background-color: #0CC;
    color: white;
    font-size:18px;
	font-weight:bold;
	border-radius:15px;
	line-height:auto;
    text-align: center;
    text-decoration: none;
	transition: ease-in 0.3s;
}

.button h4{
    font-size:16px;
    line-height: auto;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    color: #ffffff;
    width: 100%;
}

.button h4:hover{
    color:#ffffff;
    width: 100%;
}